# API / Web interfaces
requests>=2.24.0

# Data analysis
numpy>=1.19.4
pandas>=1.1.4

# Testing
pytest>=6.1.2
vcrpy>=4.1.1

# Code stlye control
flake8>=3.8.4

# Documentation
sphinx>=3.3.0
pydata-sphinx-theme>=0.4.1

# Secrets management
python-dotenv>=0.15.0
# TODO: Implement git-secret system for storage of secrets alongside repository

# Development
jupyter>=1.0.0